.center {
	margin-left: auto;
	margin-right: auto;
	width: 220px;
}

.manage-side {
	margin-top: 20px;
}

.manage-side .well {
	padding: 10px 0;
}

.navbar-static-top {
	margin-bottom: 20px;
}

.clocktime,.clockdate {}